$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {
  position: relative;
  z-index: 10;
  //padding: 0 15px 0;
  //margin-top: 10px;
  //background-color: $white;
  //border-bottom: 2px solid $border-color;

  @media (min-width: $screen-md) {
    // position: fixed;
    // top: 93px;
    // left: 0;
    // height: calc(100vh - 93px);
    // padding: 0 25px;
    // margin-top: 0;
    // border: none;
    // margin-right: auto;
  }

  $block-name:                &; // #{$block-name}__element

  // первый уровень
  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &--lvl2 {
      padding-left: 10px !important;

      #{$block-name}__item {
        margin-bottom: 0;
      }

      #{$block-name}__link {
        padding-right: 40px;
        font-size: 14px;
        //color: $second-color;
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 5px 10px;
        background-image: svg-load('../blocks/sprite-svg/svg/right-icon.svg', fill=$title-color);

        &:hover,
        &:focus {
          color: $link-color--hover;
          background-image: svg-load('../blocks/sprite-svg/svg/right-icon.svg', fill=$link-color--hover);
        }
      }
    }
  }

  &__item {
    position: relative;
    margin-bottom: 10px;

    // @media (min-width: $screen-md) {
    //   margin: 0 10px;
    // }

    &--active {

      & > #{$block-name}__link {
        color: $second-color;
        pointer-events: none;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: $title-color;
    user-select: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $second-color;
      // background-color: aquamarine;
    }

    @media (min-width: $screen-md) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    // .no-js & {
    //   display: none;
    // }

    // @media (min-width: $menu-desktop-width) {
    //   display: none;
    // }
  }

  &--open {
    border-bottom: 2px solid $border-color;
  }
}
