.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 8px 25px 6px;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  color: $white;
  border-radius: $border-radius;
  border: 2px solid $second-color;
  background-color: $second-color;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $white;
    background-color: $btn-color--hover;
    border-color: $btn-color--hover;
  }

  /* &:active {
    background-color: #0035f1;
    border-color: #0035f1;
  } */

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: #1d2b3b;
    background-color: $border-color;
    border-color: $border-color;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  &--outline {
    color: $second-color;
    background-color: #fff;
    border: 2px solid currentColor;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $second-color;
      border-color: $second-color;
    }

    /* &:active {
      color: #0035f1;
      background-color: #fff;
      border-color: currentColor;
    } */

    &--disabled,
    &:disabled {
      color:  #1d2b3b;
      background-color: #fff;
      border-color: $border-color;
    }
  }
}
