.logo {
  display: block;
  padding: 0 5px;
  white-space: nowrap;
  color: #000;

  &:hover,
  &:focus {
    color: $second-color;
  }

  $block-name:                &; // #{$block-name}__element

  svg {
    display: block;
    width: 57px;
    height: 30px;
    fill: currentColor;
  }
}
