.page-footer {
  margin-top: 60px;
  padding: 15px 0 20px;
  border-top: 1px solid $border-color;

  @media (min-width: $screen-md) {
    padding: 20px 0;
  }

  @media (min-width: $screen-xl) {
    margin-top: 100px;
  }

  $block-name:                &; // #{$block-name}__element

  &__copyrights-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 5);
  }

  &__nav-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 7);
  }

  &__copyrights {
    margin-bottom: 15px;
    font-size: 14px;
    color: $text-muted;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__nav {

  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  }

  &__nav-item {
    font-weight: 700;
    color: $text-color;

    & + & {
      margin-left: 40px;
    }
  }

  &__nav-link {
    color: inherit;
  }
}
