.burger {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 30px;
  height: 24px;
  user-select: none;
  cursor: pointer;

  &::after {
    display: block;
    content: attr(data-caption);
    position: absolute;
    left: calc(100% - -15px);
    top: 50%;
    min-width: 47px;
    min-height: 21px;
    transform: translateY(-27%);
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    color: $second-color;
  }

  > span {
    display: inline-block;
    width: 100%;
    height: $toggler-part-height;
    background: $toggler-part-bg-color;
    position: relative;
    transition: background $transition-time $transition-time;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $toggler-part-bg-color;
      transform-origin: 50% 50%;
      transition: top $transition-time $transition-time, transform $transition-time;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }

  // &:focus {
  //   outline: none;
  // }

  &--close {
    height: 30px;

    > span {
      transition: background $transition-time 0s;
      background: transparent;

      &:before,
      &:after {
        background: $main-color;
        transition: top $transition-time, transform $transition-time $transition-time;
        top: 0;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
